---

  - name: 4.5 Activate AppArmor (install) (Scored)
    apt: >
        name=apparmor
        state=present
    tags:
      - section4
      - section4.5

  - name: 4.5 Activate AppArmor (start) (Scored)
    service: >
        name=apparmor
        state=started
    tags:
      - section4
      - section4.5

  - name: 4.5 Activate AppArmor (Scored)
    command: apparmor_status
    register: aa_status_lines
    failed_when: '"0 profiles are loaded" in aa_status_lines.stdout_lines or "0 processes are in complain mode." not in aa_status_lines.stdout_lines or "0 processes are unconfined but have a profile defined." not in aa_status_lines.stdout_lines'
        # - '"0 processes are unconfined but have a profile defined." not in aa_status_lines.stdout_lines'
    changed_when: False
    tags:
      - section4
      - section4.5

  - name: 4.5 Activate AppArmor (enforce install) (Scored)
    apt: >
        name=apparmor-utils
        state=present
    tags:
      - section4
      - section4.5

  - name: 4.5 Activate AppArmor (enforce) (Scored)
    shell: 'aa-enforce /etc/apparmor.d/*'
    register: aaenforce_rc
    failed_when: aaenforce_rc.rc == 1
    changed_when: False
    tags:
      - section4
      - section4.5
