---

- include: section_05_level1.yml
  tags:
  - section05
  - level1

- name: 5.1.1 Ensure NIS is not installed (Scored)
  apt: name=nis state=absent purge=yes
  tags:
  - section5
  - section5.1
  - section5.1.1

- name: 5.1.2.1 Ensure rsh server is not enabled - shell (Scored)
  lineinfile: dest=/etc/inetd.conf regexp='"[[:space:]]shell[[:space:]]"' state=absent
  tags:
  - section5
  - section5.1
  - section5.1.2
  - section5.1.2.1

- name: 5.1.2.2 Ensure rsh server is not enabled - login (Scored)
  lineinfile: dest=/etc/inetd.conf regexp='"[[:space:]]login[[:space:]]"' state=absent
  tags:
  - section5
  - section5.1
  - section5.1.2
  - section5.1.2.2

- name: 5.1.2.3 Ensure rsh server is not enabled - exec (Scored)
  lineinfile: dest=/etc/inetd.conf regexp='"[[:space:]]exec[[:space:]]"' state=absent

  tags:
  - section5
  - section5.1
  - section5.1.2
  - section5.1.2.3


- name: 5.1.3 Ensure rsh client is not installed (Scored)
  apt: name='{{ item }}' state=absent purge=yes
       with_items:
              - rsh-client
              - rsh-redone-client
  tags:
  - section5
  - section5.1
  - section5.1.3

- name: 5.1.4 Ensure talk server is not enabled (Scored)
  lineinfile: dest=/etc/inetd.conf regexp='"[[:space:]]{{ item }}[[:space:]]"' state=absent
              with_items:
                        - talk
                        - ntalk
  tags:
  - section5
  - section5.1
  - section5.1.4

- name: 5.1.5 Ensure talk client is not installed (Scored)
  apt: name=talk state=absent purge=yes
  tags:
  - section5
  - section5.1
  - section5.1.5

- name: 5.1.6 Ensure telnet server is not enabled (Scored)
  lineinfile: dest=/etc/inetd.conf regexp='"[[:space:]]telnet[[:space:]]"' state=absent
  tags:
  - section5
  - section5.1
  - section5.1.6

- name: 5.1.7 Ensure tftp server is not enabled (Scored)
  lineinfile: dest=/etc/inetd.conf regexp='"[[:space:]]tftp[[:space:]]"' state=absent
  tags:
  - section5
  - section5.1
  - section5.1.7

- name: 5.1.8 Ensure xinetd is not enabled (Scored)
  lineinfile: dest=/etc/init/xinetd.conf regexp='"[[:space:]]start[[:space:]]"' state=absent
  tags:
  - section5
  - section5.1
  - section5.1.8

- name: 5.2 Ensure chargen is not enabled (Scored)
  lineinfile: dest=/etc/inetd.conf regexp='"[[:space:]]chargen[[:space:]]"' state=absent
  tags:
  - section5
  - section5.2

- name: 5.3 Ensure daytime is not enabled (Scored)
  lineinfile: dest=/etc/inetd.conf regexp='"[[:space:]]daytime[[:space:]]"' state=absent
  tags:
  - section5
  - section5.3

- name: 5.4 Ensure echo is not enabled (Scored)
  lineinfile: dest=/etc/inetd.conf regexp='"[[:space:]]echo[[:space:]]"' state=absent
  tags:
  - section5
  - section5.4

- name: 5.5 Ensure discard is not enabled (Scored)
  lineinfile: dest=/etc/inetd.conf regexp='"[[:space:]]discard[[:space:]]"' state=absent
  tags:
  - section5
  - section5.5

- name: 5.6 Ensure time is not enabled (Scored)
  lineinfile: dest=/etc/inetd.conf regexp='"[[:space:]]time[[:space:]]"' state=absent
  tags:
  - section5
  - section5.6

